body {
  display: flex;
    background-color: #94a6b8;
    justify-content: center;
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box{
  background: #d1d9e0;
  padding: 15px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
  position: relative;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  padding: 15px;
}

a:hover{
  background: #d1d9e0;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}
